body {
    align-content: center;
}
#question-wrapper {
    position: absolute;
    width: 600px;
    height: 600px;
    border: 1px solid blue;



}

#current-time {
    float: right;
}

#start-time {
    background-color: green;
    font-size: 18px;
    color: white;
}

#quiz-questions {
    margin: 10px;
    text-align: center;
}

#choices-list {
    background-color: green;
    font-size: 18px;
    color: white;
}

#go-back {
    background-color: green;
    position: relative;
    padding: 15px;
    color: white;
    font-size: 20px;
    top: 25%;
    left: 50%;

}

.no-bullets {
    text-decoration: none;
    list-style-type: none;
}

button {
    border-radius: 5px;
}
h1 {
    text-align: center;
}

li {
    background-color: green;
    margin-top: 8px;
    padding: 5px 20px;
    width: 80%;
    font-size: 16px;
    color: white;
}

p {
    text-align: center;
}